
/*-------------------------- header------------- */
.app {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #131a2f, #131a2f);
    /* background-image: linear-gradient(0, #fe6433, #f53e2d); */

    position: fixed;
    width: 100%;
    z-index: 2;

    
}

.header_nholai {
    height: 80px;
}


.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
}

.header__navbar-nholai {
    height: 80px;
}

.header__navbar-list {
    display: flex;
    /* Mac dinh */
    margin: 0;
    padding-left: 0;
    /*end  Mac dinh */
}

.header__navbar-item {
    list-style: none;
    display: inline-flex;
    align-items: center;
}

.header__navbar-link{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: var(--white-color);
    margin: 0 14px;
}

.header__navbar-link-icon{
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--white-color);
    margin: 0 14px;
}

/* .header__navbar-active {
    color: var(--primary-color);
} */

/* logo */
.logo{
    position: relative;
    margin-top: 14px;
}

.logo__content {
    text-transform: uppercase;
    font-size: 2.4rem;
    
}

.logo__content-small {
    text-transform: uppercase;
    font-size: 1rem;
    color: #61636b;
}

.logo_image {
    position: absolute;
    top: -33px;
    left: -30px;
}

.logo_image-nholai {
    top: -24px;
    left: -21px;
}

.logo-icon {
    width: 50px;
}

.logo-icon--nholai {
    width: 33px;
}


.header__search-icon {
    font-size: 1.8rem;
    color: var(--white-color);
    margin-right: 12px;
}

.header__navbar-user-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--white-color);
}

.icon__down {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--white-color);
    margin-left: 4px;
}

.header__navbar--tour {
    position: relative;
    /* border-bottom: 3px solid var(--primary-color); */
}

.header__navbar-tour-list {
    position: absolute;
    top:calc(75%);
    padding-left: 0;
    margin: 0;
    left: -45px;
    width: 160px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 1px #ccc;
    display: none;
    z-index: 1;
}

.header__navbar--tour:hover .header__navbar-tour-list {
    display: block;
    cursor: pointer;
    animation: fadeIn ease-in 0.4s
}



.header__navbar-tour-list::before {
    position: absolute;
    content: "";
    border-width: 13px 17px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 63px;
    top: -21px;
}

.header__navbar--intour, .header__navbar--outtour {
    position: relative;
}



.dropdown-menu-intour,
.dropdown-menu-outtour {
    /* position: absolute; */
    width: 1140px;
    /* top: calc(75%); */
    padding-left: 0;
    padding-bottom: 15px;
    margin: 0;
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 1px #ccc;
    z-index: 2;
}

.header-navbar__content-intour, .header-navbar__content-outtour {
    position: absolute;
    left: -170px;
    /* width: 1140px; */
    top: calc(75%);
    /* padding-left: 0;
    padding-bottom: 15px; */
    margin: 0;
    /* background-color: var(--white-color); */
    /* border-radius: 3px;
    box-shadow: 0 1px 1px #ccc; */
    z-index: 2;
}

.header-navbar__content-intour{
    display: none;
}

.header-navbar__content-outtour {
    display: none;
    left: -331px;
}



/* .dropdown-menu-outtour {
    display: none;
    left: -331px;
} */

.header__navbar--intour:hover .header-navbar__content-intour {
    display: block;
    cursor: pointer;
    animation: fadeIn ease-in 0.4s
}

.header__navbar--outtour:hover .header-navbar__content-outtour {
    display: block;
    cursor: pointer;
    animation: fadeIn ease-in 0.4s
}

.header-navbar__content-intour::before {
    position: absolute;
    content: "";
    left: 240px;
    top: -21px;
    border-width: 13px 17px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header-navbar__content-outtour::before {
    position: absolute;
    content: "";
    left: 385px;
    top: -21px;
    border-width: 13px 17px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.tour__item {
    list-style: none;
}

.list-unstyled {
    margin: 0;
    padding-left: 0;
}

.header__tour {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 550;
    padding: 10px 12px;
    color: var(--text-color);
}

.tour_location {
    font-size: 1.4rem;
    padding: 10px 9px;
}

.tour_location:hover {
    background-color: #FAFAFA;
}

.tour__item a {
    text-decoration: none;
    color: #969696 ;
}





.header__navbar-tour-item {
    list-style: none;
    color: var(--text-color);
    font-size: 1.6rem;
}

.header__navbar-tour-item:hover {
    background-color: #FAFAFA;
}

.header__navbar-tour-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-tour-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-tour-item a{
    text-decoration: none;
    font-size: 1.6rem;
    padding: 13px 18px;
    color: var(--text-color);
    display: block;
}

.header__navbar-user {
    position: relative;
    
}

.header__navbar-user-img:hover,
.header__navbar-user-name:hover
 {
    color: #666;
    cursor: pointer;
}


.header__navbar-user-menu {
    position: absolute;
    top:75%;
    right: 0;
    padding-left: 0;
    margin: 0;
    min-width: 230px;
    border-radius: 2px;
    box-shadow: 0 1px 1px #ccc;
    background-color: var(--white-color);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}

.header__navbar-login-success {
    position: absolute;
    top: 75%;
    right: 0;
    padding-left: 0;
    margin: 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px #ccc;
    background-color: var(--white-color);
    width: 215px;
    height: 185px;
    opacity: 0;
    visibility: hidden;
    z-index: 1; 

}

.header__navbar-logout__item {
    padding: 13px 16px;
    font-size: 1.6rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.header__navbar-logout__item a {
    color: var(--text-color);
}

.header__navbar-logout__item:hover {
    background-color: #FAFAFA;
}

.header__navbar-logout__item a {
    text-decoration: none;
}



.header-logout {
    width: 100%;
    padding: 6px 12px ;
    background-color: #27bed6;
    font-weight: 500;
    color: var(--white-color);
    border:none;
    border-radius: 3px;

}

.header-logout:hover {
    opacity: 0.5;
    cursor: pointer;
}


.ra{
    opacity: 1;
    visibility: visible;
    /* animation: len 0.3s forwards; */
}

.batlen{
    opacity: 1;
    visibility: visible;
}

.header__navbar-user-menu::before {
    position: absolute;
    content: "";
    right: 27px;
    top: -21px;
    border-width: 13px 17px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    
}

.header__navbar-login-success::before {
    position: absolute;
    content: "";
    right: 27px;
    top: -21px;
    border-width: 13px 17px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__navbar-item:hover,
.header__navbar-link:hover  {
    color: var(--primary-color);
}

.header__navbar-user-item,
.header__navbar-logout__item {
    list-style:none;
}

.header__navbar-logout__item:last-child {
    opacity: unset;
}

.header__navbar-user-login {
    width: 100%;
    padding: 8px 12px 12px ;
}

.header-login {
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.header-login:hover {
    opacity: 0.3;
    cursor: pointer;
}


.header__navbar--navbar {
    position: relative;
}

.header__navbar--navbar:hover .header__navbar-menu {
    display: block;
}

.header__navbar-menu {
    position: absolute;
    top:75%;
    right: -15px;
    padding-left: 0;
    margin: 0;
    width:230px;
    border-radius: 2px;
    box-shadow: 0 1px 1px #ccc;
    background-color: var(--white-color);
    list-style: none;
    box-shadow: 0 1px 1px #ccc;
    display: none;
    z-index: 1;
}



.header__navbar-menu-item:hover {
    background-color: #FAFAFA;
}

.header__navbar-text {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600;
    display: block;
    padding: 11px 16px;
} 

.header__navbar-text:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-text:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}


.header__navbar-menu::before {
    position: absolute;
    content: "";
    top:-25px;
    right: 21px;
    border-width: 13px 17px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;

}

.header-login {
    background-color: #26bed6;
    border: none;
    height: 34px;
    width: 100%;
    border-radius: 3px;
    outline: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.header__navbar-user-register {
    padding: 0px 12px 10px;
    text-align: center;
}

.header__navbar-user-register {
    position: relative;
    display: flex;
    align-items: center;
}

.text{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 2px;
    
}

.register-link {
    cursor: pointer;
    text-decoration: underline;
    color: #26BED6;
    margin-right: 1px;
}

.register-link:hover {
    opacity: 0.5;
}


/* Authen modal - login - Register */
.auth-form {
    width: 500px;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px ;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form_switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}


.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem ;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}



.auth-form__socials-icon {
    font-size: 1.6rem;
}
.auth-form__socials--facebook {
    
    background-color: #3A5A98;
}

.auth-form__socials--facebook {
    color: var(--white-color);
}

.auth-form__socials--google {
    color: #666;
    background-color: var(--white-color);
}

.auth-form__socials-label {
    margin: 0 20px
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help--link {
    text-decoration: none;
    font-size: 1.4rem;
}

.auth-form__help-separate {
    display: block;
    height: 2px 16px 0;
    border-left: 1px solid var(--border-color);
    margin: 0 16px;
}

.auth-form__help--focus {
    color: var(--primary-color);
}

/* app Content */
.header-img{
    width: 100%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-bottom: 8px solid var(--white-color);

    margin-top: 100px;
}

.home_content {
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 88%;
    text-align: center;
}

.home_text_large {
    font-size: 215px;
    font-weight: 900;
    color: #fdaa27;
    opacity: 0.34;
    text-transform: uppercase;
    line-height: 0.75;
}

.home_text_small {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 72px;
    font-weight: 400;
    color: #FFFFFF;
    text-shadow: 0px 11px 51px rgba(0, 0, 0, 0.35);
}

.grid-form {
    /* position: absolute; */
    /* display: flex; */
    /* justify-content: space-between; */
    padding-top:410px;
    position: relative;
}

.column-search{
    background-color: var(--white-color);
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 0 rgba(0,0,0,.07);
    z-index: 1;
    cursor: pointer;
}





.col-img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
}

.col-img img{
    max-height: 25px;
    height: 18px;
}

.col-t1{
    font-size: 1.6rem;
    line-height: 24px;
    text-align: center;
    overflow: hidden;
    margin-right: 5px;
    white-space: nowrap;
    display: inline-block;
}

.col-t2{
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color);
}
/*  end  */
.grid__content {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 20px; 
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}




.content {
    padding: 18px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.09);
    /* opacity: 0;
    visibility: hidden; */
}


.content--one-open,
.content--two-open,
.content--three-open {
    opacity: 1;
    visibility: visible;
}

.content--one::before {
    position: absolute;
    content: "";
    top: -26px;
    left: 180px;
    border-width: 16px 16px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    z-index: 5;
}

.content--two::before {
    position: absolute;
    content: "";
    top: -26px;
    left: 483px;
    border-width: 16px 16px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.content--three::before {
    position: absolute;
    content: "";
    top: -26px;
    left: 862px;
    border-width: 16px 16px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.txt {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 900;
    color: var(--text-color);
    margin-bottom: 15px;
}

.content-col{
    display: flex;
    justify-content: space-around;
    line-height: 30px;
    /* border: 1px solid #ccc;
    box-shadow: 0 1px 1px #ccc; */
}

.content-col__item {
    flex: 1;
    border: none;
    height: 40px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    font-size: 1.4rem;
    cursor: pointer;
}

.content-col--book,
.content-col--phone {
    color: var(--text-color);
    text-align: center;
}

.content-text {
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--text-color);
}

.content-btn {
    background: var(--primary-color);
    text-transform: uppercase;
    color: #fff;
    border: none;
    transition: all .3s linear;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}

.content-btn__icon  {
    font-size: 1.6rem;
}

.content-text-text {
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 600;
}

.content-text-text a {
    text-decoration: none;
    color: var(--white-color);
}

/* .input {
    width: 100%;
    line-height: 28px;
    border: 1px solid #ddd;
    padding-left: 10px;
} */

.or{
    text-align: center;
    line-height: 40px;
    width: 70px;
    font-size: 1.4rem;
}

.formMenuTour {
    background-color: #f2f5f8;
    padding: 36px 0;
}


/* item tour */
.title-tour {
    text-align: center;
    color: var(--text-color);
    font-weight: 800;
    font-size: 2.3rem;
    max-height: 200px;
}

.tour:hover {
    cursor: pointer;
    background-color: #e9f0fa;
}

.tour-item-item {
    position: relative;
    max-height: 200px;
    width: 100%;
    overflow: hidden;
}

.tour-item-item::after {
    content: "";
    position: absolute;
    top: 34px;
    left: -6px;
    bottom: -3px;
    border-top: 6px solid currentcolor;
    border-left: 7px solid transparent;
    filter: brightness(60%);
    opacity: 0.8;

    /* content: "";
    position: absolute;
    top: 32.6px;
    left: -3px;
    bottom: -3px;
    border-top: 4px solid currentcolor;
    border-left: 4px solid transparent;
    filter: brightness(60%); */
}

.tour-item-item i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.tour-item__favorite {
    position: absolute;
    width: 90px;
    top: 10px;
    left: -6px;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.5rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.tour-item__favorite i {
    margin-left: 9px;
}

.item-img {
    width: 100%;
    height: 200px;
    transition-duration: 0.5s;
        /* Safari */
        -webkit-transition-duration: 0.5s; 
        /* Mozilla Firefox */
        -moz-transition-duration: 0.5s; 
        /* Opera */
        -o-transition-duration: 0.5s;
        /* IE 9 */
        -ms-transition-duration: 0.5s;
}

.item-img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2); 
        -moz-transform: scale(1.2); 
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
}

.tour-item__time {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--primary-color);
    width: 165px;
    opacity: 0.8;
}

.tour-item__time-content {
    text-align: center;
}

.tour-item__icon{
    margin: 0px 3px 0px 0px ;
    font-size: 14px;
}

.tour_item__clock {
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 600;
}

.tour-item__place {
    position: absolute;
    bottom: 0;
    left: 165px;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    font-weight: 700;
    color: #fff;
    padding: 11px 12px;
    font-size: 13px;
}



.tour-detail-name {
    background: #f2f5f8;
    margin: 0;
    padding: 4px 10px;
}

.tour-detail__link {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    height: 4.8rem;
    display: block;
    line-height: 2.4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.tour-wrap {
    padding: 15px 20px;
    border: 1px solid #f2f5f8;
    position: relative;
    background-color: var(--white-color);
}

.tour-wrap p {
    margin: 6px 0px;
}

.tour-time,
.start,
.slot,
.number {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}

.tour-time__icon {
    margin-right: 5px;
    font-size: 1.5rem;
}

.price {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 800;
}

.place__content {
    display: flex;
    margin: 0;
    padding-left: 0;
    justify-content: space-between;
    align-items: center;
}

.place__content li {
    list-style: none;
}

.img-left {
    width: 100%;
    height: 484px;
}

.img-between {
    width: 100%;
}

.img-right {
    width: 100%;
}

.name-title {
    font-size: 2.1rem;
    border-bottom: 3px solid black;
    padding: 20px;
    margin: 5px 0px 33px;
    text-align: center;
}

.tour-popular {
    margin-bottom: 40px;
}

/* footer */
.footer{
    padding-top: 16px;
    border-top:4px solid var(--primary-color) ;
    background-color: var(--white-color);
}

.footer__box {
    margin-bottom: 25px;
}

.footer__title {
    color: var(--primary-color);
    font-weight: 550;
    margin-bottom: 10px;
    font-size: 1.8rem;
}


.footer__link {
    font-size: 1.4rem;
}

.footer__item {
    font-size: 1.4rem;
    line-height: 21px;
}

.footer__link-contact {
    margin-top: 10px;
}

.footer__link-contact a {
    color: #fff;
    padding: 5px;
    background: var(--primary-color);
    font-weight: 700;
    text-decoration: none;
}

.footer__link-item {
    margin-bottom: 5px;
}

.footer__ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.footer__href {
    text-decoration: none;
    color: var(--text-color);
}

.footer__img {
    margin-bottom: 10px;
}

.congthuong img {
    max-width: 120px;
}


.footer__txt {
    margin-bottom: 10px;
    font-size: 1.4rem;
}
.footer__form {
    position: relative;
}

.congthuongTxt {
    font-size: 1.4rem;
    line-height: 21px;
}





.footer__mda-text {
    width: 100%;
    height: 40px;
    border: solid 1px rgba(0,0,0,.35);
    padding-left: 15px;
    padding-right: 55px;
}

.footer__button {
    font-size: 15px;
    line-height: 23px;
    padding: 0;
    background: 0 0;
    border: none;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.footer__icon {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.footer__icon-item {
    margin-right: 5px;
}

.footer__icon-link {
    display: block;
    width: 35px;
    height: 35px;
    
    color: #fff;
    position: relative;
}

.footer__icon-facebook {
    background: #3b5997;
}

.footer__icon-twitter {
    background: #00aced;
}

.footer__icon-youtube {
    background: #d12f2f;
}


.item__icon {
    font-size: 16px;
    top: 50%;
    transform: translateY(50%);
    margin-left: 11px;
}



.footer__bottom {
   padding: 10px 0;
    background-color: #f5f5f5;
    margin-top: 3px;
}
.footer__text{
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #737373;
}


/*------------------file detail.html --------------------------*/
.app__content {
    background-color: #ecf0f5;
}
.content_header {
    background-color: #f2f5f8;
    margin-top: 100px;
}

.header__title {
    margin-top: 25px;
}

.content__top {
    display: flex;
    margin: 0;
    padding-left: 0;
    line-height: 40px;
}
.content__item {
    list-style: none;
    margin: 0 8px 0px 0px;
    font-size: 1.6rem;
    color:var(--text-color);
    text-decoration: none;
}

.content__item a {
    text-decoration: none;
    color: var(--text-color);
}

/* .content__item::before {
    content: "/";
} */

/* animation */
.content_main {
    width: 100%;
}

/* .content_main-right {
    display: flex;
    position: relative;
    width: 100%;
    background: #43abae2e;
    overflow: hidden;
} */

.name_tour {
    margin: 15px 0 15px 0px;
    font-size: 2.6rem;
    font-weight: 800;
    color: #131a2f;
    line-height: 27px;
}

.content_main {
    display: flex;
}

.content__main-left {
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 25px;
}

.hide-on-laptop {
    display: none;
}

.content__name {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px rgba(0,0,0,.15);
}

.content_pt {
    margin: 0;
    padding: 0;
}

.content__tpt {
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: solid 1px rgba(0,0,0,.15);
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.at {
    width: 100px;
    float: left;
    font-weight: 700;
}

.content__main-between {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    background-color: var(--white-color);
    border-radius: 2px;
}



.content__price {
    color: var(--white-color);
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
}

.content__main-between {
    background-color: var(--primary-color);
}

.content__content {
    padding: 15px;
    margin-bottom: 30px;
}

.content__form {
    margin-bottom: 15px;
}

.content__form input {
    text-align: center;
    width: 100%;
    line-height: 34px;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    color: var(--primary-color);
}

.content__form {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.content__btn button{
    width: 100%;
    height: 40px;
    background: #008fea;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.8rem;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    border-radius: 3px;
}

.content__btn button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.viewport{
    position: relative;
    overflow: hidden;
}


.prev,
.next {
    position: absolute;
}

.prev {
    left: 165px;
}

.next {
    right: 576px;
}

.slick-arrow {
    width: 35px;
    height: 35px;
    background: #fff;
    border: none;
    position: absolute;
    border-radius: 100%;
    top: 50%;
    font-size: 15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    box-shadow: 2px 3px 4px rgba(0,0,0,.2);
}

.icon__left {
    position: absolute;
    top: -2px;
    left: 13px;
}

.icon__right {
    position: absolute;
    top:-2px;
    right: -21px;
}

.title {
    padding: 8px 0 0;
    margin: 15px 0px;
    line-height: 30px;
    border-bottom: 1px solid var(--text-color);
}

.icon__info-circle, 
.title__name {
    font-size: 2rem;
    color: var(--content-color);
    font-weight: 600;
}

.title__content {
    float: right;
}

.title__like {
    margin-right: 5px;
}

.title__like, .title__share{
    padding: 5px 8px;
    background-color: #1877f2;
    border-radius: 4px;
    color: var(--white-color);
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}

.icon__info-circle {
    margin: 0 5px 0 3px;
}

.icon__info-circle i{
    color: var(--primary-color);
}

.boxTour__content {
    padding-left: 30px;
}

.table {
    margin-bottom: 15px;
}

.boxTour__text {
    font-size: 1.5rem;
    font-weight: 400;
}

.boxTour__td {
    line-height: 24px;
}

.boxTour__main {
    padding: 10px 0 5px 0;
}

.boxTour-bold {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
}

.boxTour-nhat {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
}

.listDay {
    padding-left: 30px;
    font-size: 1.5rem;
    position: relative;
}

.listDay .day {
    margin-bottom: 15px;
}

.icon {
    color: var(--primary-color);
    cursor: pointer;
}

.listDay .day .titDay {
    font-weight: 700;
    position: relative;
    /* cursor: pointer; */
}

.desc ul {
    list-style: disc;
    margin-left: 10px;
    padding-left: 10px;
}

.the-content li {
    line-height: 30px;
}

.text-blue {
    color:var(--primary-color);
    margin-right: 8px;
    font-size: 1.6rem;
}

.tourServiceItem {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.6rem;
}

.the-content {
    margin-top: 8px;
}


/* tablink */
.tablink {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    padding: 10px 15px;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--content-color);
}

.tabcontent__text {
    line-height: 20px;
    font-size: 1.9rem;
    color: var(--text-color);
    font-weight: 400;
}

.tabcontent--small {
    font-size: 1.4rem;
}

.tabcontent--big {
    font-size: 1.5rem;
    font-weight: 800;
    text-decoration: underline;
    
}

/*  */
.nav-tabs {
    border-bottom: 1px solid #ddd;
    display: flex;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    position: relative;
    display: block;
}

.nav-tabs li a {
    padding: 10px 9px;
    color: #555;
    cursor: default;
    /* background-color: #fff; */
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

/*  */
.boxDesign2 {
    background:var(--white-color);
}

.boxDesign2 ul li {
    border-bottom: solid 1px #fff;
}

.boxDesign2 ul li a {
    padding: 9px 10px;
    display: block;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
}

.boxDesign__text {
    margin-left: 8px;
    color: var(--content-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.boxDesign2__icon {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.page_bottom {
    background-color: var(--white-color);
    border-radius: 3px;
}


.boxTour {
    margin: 10px 18px;
}

#flag1{
    animation: normal 2s;;
}

#flag4{
    padding: 0 0 5px 0;
}

/* booking-tour */
.mda-in-for {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.05);
}

.mda-in-list {
    margin-top: 8px;
}

.img-left-main {
    width: 100%;
    height: 300px;
    float: left;
}

.mda-info {
    border-bottom: solid 1px rgba(0,0,0,0.1);
}

.mda-info-list {
    margin-top: 7px;
}

.mda-info__title {
    font-size: 2.4rem;
    padding: 15px 5px;
    line-height: 23px;
}

.mda-day-other {
    font-size: 1.3rem;
}

.mda-row {
    margin-left: 8px;
    line-height: 25px;
    padding-left: 150px;
    margin-bottom: 5px;
    position: relative;
}

.mda-row__be {
    font-size: 1.6rem;
    position: absolute;
    top: 0;
    left: 0;
}

.mda-row__content {
    font-size: 1.6rem;
}

.mda-list-design {
    padding: 0 10px 25px 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: solid 1px rgba(0,0,0,.15);
}

.mda-list__size {
    font-size: 1.6rem;
}

.table-price {
    /* width: 100%; */
    margin-bottom: 35px;
}

.table-price__title {
    margin-bottom: 25px;
    text-align: center;
}

.table-price__name {
    font-size: 3rem;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.table_table {
    width: 100%;
}

.table-price tr:first-child {
    /* background-color: gray; */
    /* text-align: right; */
    font-weight: 700;
}

.table_table tr td {
    border: 1px solid black;
    padding: 7px 10px;
    text-align: center;
    white-space: nowrap;
    font-size: 1.6rem;
    font-weight: 500;
}

.cot-header {
    background-color: #80808045;
}

.mda-tilte-3 {
    margin-bottom: 25px;
    text-align: center;
}

.mda-tilte-3 .mda-tilte-name {
    font-size: 3rem;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

#booktour-form .form-group {
    position: relative;
    line-height: 20px;
}

.people {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--text-color);
    padding: 5px 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: 5px 10px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 3px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.txtTotal:last-child {
    border-top: none;
}

.txtTotal {
    text-align: right;
    font-size: 2rem;
    line-height: 10px;
    padding-top: 20px;
    margin-top: 15px;
    border-top: solid 1px rgba(0,0,0,.15);
    margin-bottom: 10px;
}

.text-center {
    margin:15px 0;
    text-align: center;
}

.btn-thanhtoan {
    width: 150px;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px 5px;
    border-radius: 4px;
    font-size: 1.6rem;
    outline: none;
    border: none;
}

.img__img {
    width: 100%;
    height: 100%;
}

/* Thong bao */
.wrapCont {
    padding: 50px;
    background-color: var(--white-color);
}

.wrapSuccess {
    padding: 20px 30px;
    border: solid 5px #f3f3f3;
}

.thongbao {
    text-align: center;
}

.thongbao__ms1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 50px;
    color: var(--text-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.thongbao__ms2 {
    margin-bottom: 15px;
    font-size: 1.6rem;
}

.thongbao__ms2 strong {
    font-weight: 700;
}

.thongbao__ms3 {
    background: #666;
    color: #fff;
    border-radius: 3px;
    padding: 8px 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.6rem;
}

.code {
    width: 100%;
    margin: 0 auto;
    font-size: 1.8rem;
    border-radius: 3px;
    background: #ed0080;
    padding: 14px 10px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.co {
    font-size: 3rem;
    line-height: 50px;
}

.thongbao__ms4 {
    font-weight: 700;
    color: var(--primary-color);
    font-size: 1.4rem;
}

/* Mobile Nav */
.navbar {
    width: 28px;
    height: 28px;
    color: var(--white-color);
    display: none;
}

.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0%;
    background-color: rgba(0,0,0,0.3);
    z-index: 2;
    animation: fadeIn linear 0.3s;
    display: none;
}

/* .nav__pc {
    z-index: 1;
    display: none;
}

.nav__list {
    padding-left: 0;
    margin: 0;
}

.nav__pc-item {
    list-style: none;
    padding: 8px 10px;
    line-height: 15px;
}

.nav__link {
    text-decoration: none;
    color: var(--white-color);
} */

.nav__mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 320px;
    max-width: 100%;
    background-color: var(--white-color);
    z-index: 2;

    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.3s, opacity linear 0.2s;
}

.nav__mobile-list {
    margin-top: 24px;
    /* margin: 0;
    padding-left:0 ; */
}


.nav__mobile-link {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 8px 0;
    font-size: 1.8rem;
    font-weight: 500;
}

.nav__mobile-close {
    font-size: 2rem;
    color: var(--text-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.nav__input {
    display: none;
}

.nav__input:checked ~ .nav__overlay {
    display: block;
}

.nav__input:checked ~ .nav__mobile {
    transform: translateX(0%);
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* tren footer */
.item-folder {
    margin-top: 12px;
}

.commitment-box {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.commitment-image {
    width: 75px;
    display: flex;
    align-items: center;
}

.icon-commitment {
    width: 80%;
    height: auto;
}

.commitment-content {
    flex: 1;
}

.commitment-taitle {
    font-size: 13px;
    text-align: left;
    text-transform: uppercase;
    line-height: 24px;
    float: left;
    width: 100%;
    padding: 6px 0;
    font-weight: 600;
}

.commitment-description {
    font-size: 1.5rem;
    line-height: 20px;
}

/* tour trong nước .php */
.content_search {
    background-color: #e5e5e5;
    padding: 18px 0;
}

.filter__content {
    padding: 20px 0 ;
}

.filter-list-tour {
    display: flex;
}

.filter-text {
    margin-right: 20px;
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 800;
}

.filter-div {
    font-size: 1.4rem;
    color: var(--text-color);
}

.view-list-tour {
    float: right;
    margin-right: 7px;
    font-size: 1.8rem;
}

.view-list-tour i:hover {
    cursor: pointer;
}

.active {
    color:var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

.actives {
    color: #2583c8;
}

.active-color {
    color: var(--primary-color);
}

.box-search-tour {
    margin-bottom: 25px;
    padding-bottom: 8px;
    box-shadow: 0 2px 3px -2px grey;
}

.box-search-tour-image {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.tour-image {
    width: 100%;
    height: 245px;

    transition-duration: 0.5s;
        /* Safari */
        -webkit-transition-duration: 0.5s; 
        /* Mozilla Firefox */
        -moz-transition-duration: 0.5s; 
        /* Opera */
        -o-transition-duration: 0.5s;
        /* IE 9 */
        -ms-transition-duration: 0.5s;
}

.tour-image:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2); 
        -moz-transform: scale(1.2); 
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);

}

.tour-title__text {
    color: #0a558a;
    font-size: 2.5rem;
    font-weight: 800;
    float: left;
    padding: 10px 0;
    line-height: 30px;
    width: 100%;
}

.destination-tour {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 0 15px;
    line-height: 22px;
    float: left;
    width: 100%;
}

.detail-tour {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color:var(--text-color);
}

.row-box-price {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 15px;
}

.row-box__content {
    padding: 0 15px;
    margin: 0 auto;
    background: var(--primary-color);
    display: table;
    height: 40px;
    overflow: hidden;
    border-radius: 4px;
}

.price-text {
    font-size: 1.3rem;
    font-weight: 500;
    color:var(--white-color);
    margin-right: 10px;
    padding: 2px 0;
}

.price-price {
    font-size: 1.8rem;
    line-height: 40px;
    font-weight: 600;
    color: var(--white-color);
    padding: 2px 0;
}

.row-box-views {
    text-align: center;
    padding-top: 15px;
    align-items: center;
    display: block;
}

.row-box-cd {
    display: flex;
    justify-content: center;
    align-self: center;
}



.textInfo {
    font-size: 1.5rem;
    width: 130px;
    height: 35px;
    line-height: 35px;
    border-radius: 4px;
    border: 1px solid #dedede;
    padding: 0 15px;
    color: #969696;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
}

.box-view-more {
    padding: 0 15px;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0 auto;
}

.paginationCenter {
    width: 100%;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 10px;
}

.pagination {
    margin: 0;
    padding-left: 0;
}

.pagination li {
    display: inline-block;
}

.pagination li a {
    border: none;
    font-size: 1.5rem;
    height: 35px;
    line-height: 35px;
    padding: 8px 15px;
}

.pagination li:last-child a {
    border: 1px solid #dedede;
    color: var(--text-color);
    border-radius: 4px;
}

/* contact.php */
.wrapForm-contact {
    background : url(../images/banner.jpg) no-repeat center top;
    background-size: contain;
    padding-top: 30px;
}

.wrapForm__content {
    position: relative;
    padding: 30px 50px;
    background: rgba(255,255,255,.9);
}

.wrapForm--contact {
    margin: 35px auto;
    border: 1px solid #d2d6d9;
}

.wrapForm__title {
    text-align: center;
    font-size: 3.5rem;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}

.wrapForm__beWrap {
    margin-bottom: 20px;
}

.wrapForm__be {
    text-align: center;
    font-size: 1.4rem;
}

.wrapForm__envelope {
    padding-right: 10px;
    /* font-size: 1.4rem; */
}

.wrapForm__phone {
    padding-right: 10px;
}

.phoneWrap:before {
    content: "\f232";
    position: absolute;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 50px;
    line-height: 50px;
}

.phoneWrap {
    max-width: 280px;
    border: solid 1px #ed0080;
    border-radius: 5px;
    padding: 10px;
    padding-left: 50px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 35px;
}

.phoneWrap .hotline {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.dau-sao {
    color: var(--primary-color);
}

.wrapForm__form-group {
    margin-bottom: 15px;
}

.wrapForm__label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.div_input {
    position: relative;
    display: block;
}

.wrapForm__input {
    width: 100%;
    height: 40px;
    border: solid 1px rgba(0,0,0,.15);
    padding-left: 10px;
}

.div_input textarea {
    padding: 10px;
    resize: none;
    height: 80px;
    width: 100%;
}

.wrapForm__button {
    width: 100%;
    height: 40px;
    background: var(--primary-color);
    color: #fff;
    font-weight: 700;
    border: none;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    border-radius: 3px;
}

.envelope,
.volume {
    color: var(--primary-color);
}

.wrapForm__txt {
    font-size: 1.6rem;
    font-weight: 600;
}

.wrapForm__submit {
    font-size: 1.6rem;
}

/* Profile.php */
.navbar-profile {
    background-color: var(--white-color);
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.user-navigation-wrap {
    padding: 30px 0;
}

.circle-user {
    position: relative;
    width: 110px;
    height: 110px;
    margin: 0 auto;
}

.circle-user__wrapper {
    background-color: #000;
}

.circle-user__img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    border-radius: 50%;
}

.user-info {
    text-align: center;
    line-height: 16px;
}

.user-name {
    font-size: 16px;
    font-weight: 700;
}

.user-menu {
    margin: 0;
    padding-left: 0;
}

.user-link {
    text-decoration: none;
}

.user-content {
    color: #555863;
    line-height: 50px;
    list-style-type: none;
    border-bottom: 1px solid #bdbdbd;
    margin-left: 24px;
    margin-right: 24px;
    font-size: 15px;
}

.navbar-info {
    padding-top: 30px;
    background-color: var(--white-color);
}

.user-upload-img-name {
    padding-bottom: 20px;
    text-align: center;
}

.upload-img {
    width: 130px;
}

.text-upload {
    padding-top: 8px;
}

.btn-upload {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-upload a {
    color: #26bed6;
    font-weight: 700;
    font-size: 1.6rem;
}

.dashboard-item {
    display: flex;
    justify-content: center;
    margin: 18px 0;
}

.fullname-label
,.phone-label
,.email-label {
    text-align: left;
    color: #818180;
    font-size: 1.5rem;
    font-weight: 400;
}

.form-name {
    width: 100%;
}

.form-input {
    width: 100%;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #bdbdbd;
}

.dashboard__checkbox {
    margin-right: 15px;
}

.setting-password {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
}

.get-info,
.save-info {
    height: 40px;
    color: #bdbdbd;
    border: 1px solid #bdbdbd;
    
    border-radius: 4px;
    font-size: 1.4rem;
}

.get-info {
    float: right;
    background-color: #fff;
}

.save-info {
    background-color: #26bed6;
    color: var(--white-color);
}

.form-save {
    margin: 0 0 30px 0;
}

/* trip.php */


.table-item {
    display: flex;
    margin-top: 10px;
}
.table-padding {
    margin-right: 18px;
}

.table-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 530;
}

.table--active {
    border-bottom: 3px solid #26bed6;
    color: #26bed6;
}

.trip-content {
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
}

.trip-item {
    height: 100%;
    padding-top: 90px;
}

.trip-img {
    max-width: 300px;
    padding-bottom: 20px;
}

.empty-text {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
}


/* Search.php */
.header-search {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: solid 1px rgba(0,0,0,.15);
    margin-top: 40px;
}

.label-search {
    font-size: 25px;
    line-height: 35px;
    padding-left: 0;
    font-weight: 700;
    margin-bottom: 10px;
}

.search-item {
    display: flex;
    line-height: 10px;
    font-size: 1.4rem;
}

.header-comment {
    font-weight: 600;
    margin-right: 10px;
}

.header-icon--icon {
    color: orange;
}

.header__tb {
    color: black;
    margin: 0 5px;
}

.box-search__title {
    background: #818285;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 9px 15px;
    position: relative;
    margin-bottom: 16px;
    font-size: 1.4rem;
    border-radius: 3px;
}

.form-group {
    margin-bottom: 10px;
}

.label-name {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 1.4rem;
}

.formFa {
    position: relative;
}

.formFa .content-col__item {
    width: 100%;
    border-radius: 3px;
}

.vnt-tour {
    min-height: 480px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

#row_search .noItem {
    padding: 5px 0;
    color: #ed0080;
    font-weight: 700;
    text-align: center;
    font-size: 1.4rem;
}

.icon-star {
    margin-top: -2px;
}

.error {
    color: red;
}

/* thanh search */
.input-search-kiritm {
    border-radius: 6px;
    width: 100%;
    height: 44px;
    border: 0;
    line-height: 44px;
    color: #333;
    font-size: 14px;
    padding: 0px 10px;
    -webkit-box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
    border: 1px solid #c0c0c0;
}





